In [1]:
import pandas as pd
import os
from IPython.core.display import HTML
import re
from pandas import DataFrame
import numpy as np
from numpy import nan as NA
from IPython.core.display import HTML
from IPython.core.display import Image 
import matplotlib.pylab as pylab
from itertools import chain
import datetime, itertools, os, collections, re
import math
import time
from time import mktime
from datetime import datetime, timedelta
import ExcelExtraction
from time import mktime

In [2]:
all_dfs = ExcelExtraction.extract_all_files(r"../source")

In [3]:
len(all_dfs)

12

In [4]:
dfs_dic = dict(enumerate(all_dfs))

In [5]:
dfs_dic[0]

,fact_code,contact_type,contact_name,designation,contact_number,email,notes,path,file,sheet
0,4011,NaN,NaN,NaN,NaN,NaN,NaN,../source,Data_Report_4011.xlsx,cover

In [6]:
unique_sheets = []
for i,df in dfs_dic.items():
    unique_sheets.extend(df.sheet.unique())

In [7]:
set(unique_sheets)

{'cover',
 'data_input',
 'list_reports_sheet',
 'received_sheet',
 'request_sheet',
 'visit_log'}

In [8]:
req_dfs = {}
for i,df in dfs_dic.items():
    if df.sheet.unique()[0] in [ 'received_sheet']:
        req_dfs[len(req_dfs)] = df.copy()

In [9]:
len(req_dfs)

2

In [10]:
dfs_concat = pd.concat(req_dfs, ignore_index=True)

In [11]:
dfs_concat['factory_code'] = pd.Series([ elem.split('.')[0].split('_')[-1] for elem in dfs_concat.file] ,index=dfs_concat.index)

In [12]:
dfs_concat.loc[1].factory_code

'4011'

In [13]:
dfs_concat

,report_name,format,project_phase,start_time,end_time,notes,path,file,sheet,factory_code
0,A,excel,base_line,1 Feb 2017,28 Jun 2017,NaN,../source,Data_Report_4011.xlsx,received_sheet,4011
1,B,handwritten copy,base_line,2 Feb 2017,30 May 2017,NaN,../source,Data_Report_4011.xlsx,received_sheet,4011
2,C,scanned copy,base_line,2 Feb 2017,30 May 2017,NaN,../source,Data_Report_4011.xlsx,received_sheet,4011
3,A,excel,base_line,1 Feb 2017,28 Jun 2017,NaN,../source,Data_Report_4012.xlsx,received_sheet,4012
4,B,pdf,base_line,2 Feb 2017,30 May 2017,NaN,../source,Data_Report_4012.xlsx,received_sheet,4012
5,C,handwritten copy,base_line,2 Feb 2017,30 May 2017,NaN,../source,Data_Report_4012.xlsx,received_sheet,4012

In [14]:
for i in range(3):
    print(i)

0
1
2

In [15]:
new_dfs = pd.DataFrame(columns={'sl_no','factory_code','report_name','project_phase','start_time','end_time','entry_type'})
for ind in dfs_concat.index:
    s_ = dfs_concat.loc[ind][[ 'factory_code','report_name','project_phase','start_time','end_time']]
    for i in range(3):
        s_['sl_no'] = len(new_dfs)+1
        if i==0:
            s_['entry_type'] = "1st entry"
        if i==1:
            s_['entry_type'] = "2nd entry"
        if i==2:
            s_['entry_type'] = "recon"
            
        new_dfs.loc[len(new_dfs)] = s_

In [16]:
for col in ['status','given_date','given_time','dma_name','workings','received_date','received_time','total_working_mins',
           'dma_code']:
    new_dfs[col] = np.nan

In [17]:
new_dfs.columns

Index(['project_phase', 'sl_no', 'end_time', 'entry_type', 'factory_code',
       'report_name', 'start_time', 'status', 'given_date', 'given_time',
       'dma_name', 'workings', 'received_date', 'received_time',
       'total_working_mins', 'dma_code'],
      dtype='object')

In [18]:
new_dfs = new_dfs[[   'sl_no','factory_code','report_name', 'project_phase',
                    'start_time',  'end_time',
                    'status', 'given_date','given_time',  
                   'dma_name','entry_type','workings', 
                   'received_date', 'received_time',
                    'total_working_mins', 'dma_code'
   
      
       
      ]]

In [19]:
frames = {'spread_sheet': new_dfs}
file_name = 'data entry spread sheet_new'+'.xlsx'
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')
 
for sheet, frame in  frames.items(): 
    frame.to_excel(writer, sheet_name = sheet)
writer.save()

In [20]:
new_dfs

,sl_no,factory_code,report_name,project_phase,start_time,end_time,status,given_date,given_time,dma_name,entry_type,workings,received_date,received_time,total_working_mins,dma_code
0,1,4011,A,base_line,1 Feb 2017,28 Jun 2017,NaN,NaN,NaN,NaN,1st entry,NaN,NaN,NaN,NaN,NaN
1,2,4011,A,base_line,1 Feb 2017,28 Jun 2017,NaN,NaN,NaN,NaN,2nd entry,NaN,NaN,NaN,NaN,NaN
2,3,4011,A,base_line,1 Feb 2017,28 Jun 2017,NaN,NaN,NaN,NaN,recon,NaN,NaN,NaN,NaN,NaN
3,4,4011,B,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,1st entry,NaN,NaN,NaN,NaN,NaN
4,5,4011,B,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,2nd entry,NaN,NaN,NaN,NaN,NaN
5,6,4011,B,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,recon,NaN,NaN,NaN,NaN,NaN
6,7,4011,C,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,1st entry,NaN,NaN,NaN,NaN,NaN
7,8,4011,C,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,2nd entry,NaN,NaN,NaN,NaN,NaN
8,9,4011,C,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,recon,NaN,NaN,NaN,NaN,NaN
9,10,4012,A,base_line,1 Feb 2017,28 Jun 2017,NaN,NaN,NaN,NaN,1st entry,NaN,NaN,NaN,NaN,NaN
10,11,4012,A,base_line,1 Feb 2017,28 Jun 2017,NaN,NaN,NaN,NaN,2nd entry,NaN,NaN,NaN,NaN,NaN
11,12,4012,A,base_line,1 Feb 2017,28 Jun 2017,NaN,NaN,NaN,NaN,recon,NaN,NaN,NaN,NaN,NaN
12,13,4012,B,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,1st entry,NaN,NaN,NaN,NaN,NaN
13,14,4012,B,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,2nd entry,NaN,NaN,NaN,NaN,NaN
14,15,4012,B,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,recon,NaN,NaN,NaN,NaN,NaN
15,16,4012,C,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,1st entry,NaN,NaN,NaN,NaN,NaN
16,17,4012,C,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,2nd entry,NaN,NaN,NaN,NaN,NaN
17,18,4012,C,base_line,2 Feb 2017,30 May 2017,NaN,NaN,NaN,NaN,recon,NaN,NaN,NaN,NaN,NaN

In [39]:
new_dfs.loc[0][1]

'4011'

In [41]:
new_dfs.columns[0]

'sl_no'

In [28]:
import xlsxwriter

workbook  = xlsxwriter.Workbook(r"../data entry spread sheet_new1.xlsx")
worksheet = workbook.add_worksheet()

worksheet.write(0, 21, 'Hello Excel')

workbook.close()

AttributeError: 'Worksheet' object has no attribute 'append'

In [32]:
import xlsxwriter

workbook = xlsxwriter.Workbook(r"../data entry spread sheet_new1.xlsx")

worksheet = workbook.add_worksheet()

In [33]:
worksheet.data_validation('A1', {'validate': 'list','source': ['complete', 'inprogress', 'not complete']})

In [34]:
workbook.close()

In [25]:
file_name ='../style_sheet'+'.xlsx'
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')
worksheet.to_excel(writer, sheet_name = 'new_sheet')
writer.save()

AttributeError: 'Worksheet' object has no attribute 'to_excel'